.HomeHeader {
    color: white; 
    padding: 10rem 0;
    height: 375px;
    background-color: black ;
  }
  
  .HomeHeader .BackgroundImage {
    opacity: 0.7;
  }
  
  .HomeHeader-large {
    padding: 20rem 0;
  }
  
  .HomeHeader--Title {
    font-size: 9rem;
    margin-bottom: 0;
    margin-top: -6rem;
    color: white;
  }
  
  .HomeHeader--Subtitle {
    font-weight: 500;
    font-size: 2.4rem;
    width: 60%;
  }
  
  .HomeHeader .container {
    animation: fadeIn 0.5s ease-out;
  }
  
  /* iPhone X, 11 / 11pro etc. */
  @media (min-width:375px) and (max-width: 380px) {
    .HomeHeader {
      padding: 4rem 0;
      margin: none;
    }
    .HomeHeader-large {
      padding: 5.5rem 0;
    }
    .HomeHeader--Title {
      font-size: 4.4rem;
      margin-bottom: 0;
      margin-top: -3rem;
    }
    .HomeHeader--Subtitle {
      font-weight: 500;
      font-size: 1.45rem;
      width: 62%;
    
    }
    .HomeHeader {
      height: 220px;
      padding: rem 0;
    }
  }

/* Big Flagships */
  @media (min-width:385px) and (max-width: 600px) {
    .HomeHeader {
      padding: 4rem 0;
      margin: none;
    }
    .HomeHeader-large {
      padding: 5.5rem 0;
    }
    .HomeHeader--Title {
      font-size: 4.6rem;
      margin-bottom: 0;
      margin-top: -2.3rem;
    }
    .HomeHeader--Subtitle {
      font-weight: 500;
      font-size: 1.4rem;
      width: 60%;
    }
    .HomeHeader {
      height: 200px;
      padding: rem 0;
    }
  }

  /* small phones */
  @media (min-width:300px) and (max-width: 345px) {
    .HomeHeader {
      padding: 4rem 0;
      margin: none;
    }
    .HomeHeader-large {
      padding: 9.5rem 0;
    }
    .HomeHeader--Title {
      font-size: 4.2rem;
      margin-bottom: 0;
    }
    .HomeHeader--Subtitle {
      font-weight: 500;
      font-size: 1.2rem;
      width: 60%;
    }
    .HomeHeader {
      height: 220px;
      padding: 6rem 0;
    }
  }

  /* 16:9 Oldies */
  @media (min-width : 350px) and (max-width : 374px) {
    .HomeHeader {
      padding: 4rem 0;
      margin: none;
    }
    .HomeHeader-large {
      padding: 6.5rem 0;
    }
    .HomeHeader--Title {
      font-size: 4.2rem;
      margin-bottom: 0;
    }
    .HomeHeader--Subtitle {
      font-weight: 500;
      font-size: 1.4rem;
      width: 58%;
    }
    .HomeHeader {
      height: 230px;
      padding: 6rem 0;
    }
  }

  