.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 10rem 0;
  height: 310px;
}

.PageHeader .BackgroundImage {
  opacity: 0.6;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 7rem;
  margin-bottom: 0;
  margin-top: -4rem;
  font-family: var(--font-primary);
}

.PageHeader--Subtitle {
  font-weight: 300;
  font-size: 2.4rem;
  width: 60%;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}


@media (min-width:350px) and (max-width: 600px) {
  .PageHeader {
    padding: 4rem 0;
  }
  .PageHeader-large {
    padding: 5.5rem 0;
  }
  .PageHeader--Title {
    font-size: 5.4rem;
    margin-bottom: 0;
    margin-top: 0rem;
  }
  .PageHeader--Subtitle {
    font-weight: 600;
    font-size: 1.5rem;
    width: 80%;
  }
  .PageHeader {
    height: 330px;
    padding: 6rem 0;
  }
}

@media (min-width:300px) and (max-width: 349px) {
  .PageHeader {
    padding: 4rem 0;
  }
  .PageHeader-large {
    padding: 9.5rem 0;
  }
  .PageHeader--Title {
    font-size: 5.5rem;
    margin-bottom: 0;
  }
  .PageHeader--Subtitle {
    font-weight: 400;
    font-size: 1.2rem;
    width: 60%;
  }
  .PageHeader {
    height: 240px;
    padding: 6rem 0;
  }
}
